/* Checkbox Css */
.form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     height: 20px;
     width: 20px;
     left: 10px;
     top: 7px;
     border: 0;
     border-radius: 3px;
     cursor: pointer;     
     outline: none;
}

.form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 7px;
     top: 2px;
     content: '\02143';
     transform: rotate(40deg);
}

.form-checkbox:hover
{
     background-color: #f7f7f7;
}

.form-checkbox:checked
{
     background-color: #f1f1f1;
}

/* Footer CSS */
.footer {
	text-align: center;
	margin-top: 30px;
}

.footer .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
